{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Бренди</title>
    <link rel="stylesheet" href="{% static 'css/brands.css' %}">
</head>
<body>
<h1>Список брендів</h1>
<table>
    <thead>
        <tr>
            <th>Назва</th>
            <th>Країна</th>
            <th>Опис</th>
            <th>Зображення</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <td><a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a></td>
            <td>{{ brand.country }}</td>
            <td>{{ brand.description }}</td>
            <td>
                {% if brand.image %}
                    <img src="{{ brand.image.url }}" alt="{{ brand.name }}" width="100">
                {% else %}
                    Немає
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
